@import "tailwindcss";

@theme inline {
  --color-primary: #2dc67d;
  --color-secondary: #ff8c91;
  --color-gray-dark: #233a41;
  --color-light-cyan: #f3f5ff;
  --color-dark-cyan: #b0bdff;
  --color-pale-peach: #fff3e6;
  --color-dark-peach: #ffc093;
  --color-light-lavender: #fbeefd;
  --color-dark-lavender: #f6bcff;
  --color-light-green: #effdff;
  --color-dark-green: #9ff3ff;
  --color-dark-green: #9ff3ff;
  --color-light-yellow: #fbfff1;
  --color-dark-yellow: #ffdaa2;
  --color-light-red: #ffbcbc42;
  --color-dark-red: #ffbcbc;
  --color-dark-purple: #00003c;
}
